@model autolote.Controllers.Automovil

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create","AutoMovil", FormMethod.Post, 
new

{
   id ="MarcaModeloFormID",
   enctype ="multipart/form-data"
   

} ))
 
 {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Automovil</legend>

      <div class="editor-label">
            @Html.LabelFor(model => model.TiposId)
     </div>
        

    <div class="editor-field">
           
    @{Html.RenderAction("ListaTipos","Tipos");}

    @Html.ValidationMessageFor(model => model.TiposId)
    </div>



     <div class="editor-label">
            @Html.LabelFor(model => model.Modelo.Marcas.MarcaId)
     </div>

     <div class="editor-label">
    
        @Html.DropDownList("MarcasId", new SelectList(new string [] {"Seleccione una marca"}))

      <div id="ModelosDivID">
         <label for ="Modelos">Modelos</label>
         <select id ="ModelosId" name ="ModelosId">
             <option selected> Seleccione un modelo </option>
         </select>
        </div>       
    </div>
     

        <div class="editor-label">
            @Html.LabelFor(model => model.TieneAireAcondicionado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TieneAireAcondicionado)
            @Html.ValidationMessageFor(model => model.TieneAireAcondicionado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comentarios)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comentarios)
            @Html.ValidationMessageFor(model => model.Comentarios)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Anio)
        </div>
        <div class="editor-field">
         @{
           Model.Anio =DateTime.Now.Year; 

           var anios = new List<string>();
           
           for (int i= DateTime.Now.Year; i > 1950; i-- )
           {
          
             anios.Add(i.ToString());
           }

        }

        @Html.DropDownListFor(r=> Model.Anio, new SelectList(anios))
        
        @Html.ValidationMessageFor(model => model.Anio)

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Color)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Color)
            @Html.ValidationMessageFor(model => model.Color)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaPublicacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaPublicacion)
            @Html.ValidationMessageFor(model => model.FechaPublicacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email, new {type ="email"})
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <a href="#" id ="add"> Agregar Imagen </a>
        <div id ="divAutomovilImagenes">
 </fieldset>
    
    <p>
        <input type="submit" value="Create" />
    </p>
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/automovil")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryyui")

    }

