@model autolote.Controllers.Automovil

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit","AutoMovil", FormMethod.Post, 
new

{
   id ="MarcaModeloFormID",
   enctype ="multipart/form-data"
   

} ))

{

 @Html.ValidationSummary(true)

    <fieldset>
        <legend>Automovil</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ModeloId, "Modelo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ModeloId", String.Empty)
            @Html.ValidationMessageFor(model => model.ModeloId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TiposId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TiposId)
            @Html.ValidationMessageFor(model => model.TiposId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TieneAireAcondicionado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TieneAireAcondicionado)
            @Html.ValidationMessageFor(model => model.TieneAireAcondicionado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comentarios)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comentarios)
            @Html.ValidationMessageFor(model => model.Comentarios)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Anio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Anio)
            @Html.ValidationMessageFor(model => model.Anio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Color)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Color)
            @Html.ValidationMessageFor(model => model.Color)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaPublicacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaPublicacion)
            @Html.ValidationMessageFor(model => model.FechaPublicacion)
        </div>
    <a href="#" id ="add"> Agregar Imagen </a>

    <div id ="divAutomovilImagenes">

    @if (Model.AutoMovilImagenes  != null)
    
    {

     foreach (var imagen in Model.AutoMovilImagenes)

     {
	     <div class="editorRow">
	         <img src ="@Url.Content(imagen.UrlImagenMiniatura)" alt ="@imagen.Id" />
	         <a href ="#" class="deleteRow" id ="@imagen.Id"> Eliminar </a>
	     </div>     
      }
    }
    </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
  @Styles.Render("~/Content/themes/base/css")
  @Scripts.Render("~/bundles/jquey")
  @Scripts.Render("~/bundles/jqueyui")
  @Scripts.Render("~/bundles/jqueryval")
}
<script src="~Scripts/jquery-1.7.1.min.js"></script>
<script src="~Scripts/Autolote-Tipos.js"></script>
<script src="~Scripts/Autolote-MarcasModelos.js"></script>
<script src="~Scripts/Autolote-Imagenes.js"></script>
<script src="~Scripts/Autolote-DatePicker.js"></script>