@model autolote.Controllers.Automovil

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit","AutoMovil", FormMethod.Post, 
new

{
   id ="MarcaModeloFormID",
   enctype ="multipart/form-data"
   

} ))

{

 @Html.ValidationSummary(true)

    <fieldset>
        <legend>Automovil</legend>

        @Html.HiddenFor(model => model.Id)

        
        <div class="editor-label">
            @Html.LabelFor(model => model.tipos.Descripcion)
        </div>


        <div class="editor-field">
            @Html.DropDownList("TiposId", new SelectList(new string [] {""}))   
        </div>

        
        <div class="editor-label">
            @Html.LabelFor(model => model.Modelo.Marcas.Descripcion)
        </div>


       <div class="editor-field">

            @Html.DropDownList("MarcasId", new SelectList(new string [] {"Seleccione una marca"}))

	       <div id="ModelosDivID">
	         <label for ="Modelos">Modelos</label>
	         <select id ="ModelosId" name ="ModelosId">
	             <option selected> Seleccione un modelo </option>
	         </select>
	        </div>  
           
       </div>
        

        <div class="editor-label">
            @Html.LabelFor(model => model.Anio)
        </div>


        
        <div class="editor-field">
         @{
           Model.Anio =DateTime.Now.Year; 

           var anios = new List<string>();
           
           for (int i= DateTime.Now.Year; i > 1950; i-- )
           {
          
             anios.Add(i.ToString());
           }

        }

        @Html.DropDownListFor(r=> Model.Anio, new SelectList(anios))
        
        @Html.ValidationMessageFor(model => model.Anio)

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Color)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Color)
            @Html.ValidationMessageFor(model => model.Color)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.TieneAireAcondicionado)
        </div>


        <div class="editor-field">
            @Html.EditorFor(model => model.TieneAireAcondicionado)
            @Html.ValidationMessageFor(model => model.TieneAireAcondicionado)
        </div>

        
         <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email, new {type ="email"})
            @Html.ValidationMessageFor(model => model.Email)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Comentarios)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Comentarios)
            @Html.ValidationMessageFor(model => model.Comentarios)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaPublicacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaPublicacion)
            @Html.ValidationMessageFor(model => model.FechaPublicacion)
        </div>

      
        
        

        
    <a href="#" id ="add"> Agregar Imagen </a>

    <div id ="divAutomovilImagenes">
    
    @if (Model.AutomovilImagenes  != null)
    
    {

     foreach (var imagen in Model.AutomovilImagenes)

     {
	     <div class="editorRow">
	         <img src ="@Url.Content(imagen.UrlImagenMiniatura)" alt ="@imagen.Id" />
	         <a href ="#" class="deleteRow" id ="@imagen.Id"> Eliminar </a>
	     </div>     
      }
    }
    </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/automovil")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    }
